html, body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 300;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

/* Home Page */
.main-heading {
  margin-top: 10%;
  text-align: center;
}

.logo {
  width: 50px;
}

.logo > img {
  width: 50px;
}

.company-name {
  padding-left: 25px;
  margin-top: -10px;
}

/* Overview Page */

.overview-header {
  border-bottom: 1px solid #78909c;
}

.title-logo {
  margin: 15px auto;
  width: 150px;
}

.company-title {
  font-size: 48px;
  margin: 3px auto;
}

.company-about {
  padding: 5% 0;
  background-color: #fcfcfc;
}

.overview-text {
  margin-bottom: 30px;
}

.chart-title {
  margin-bottom: 20px;
  text-align: center;
}

.line {
  font-size: 18px;
}

.meter {
  margin: 10px auto;
	height: 10px;
	position: relative;
	background: #e0e0e0;
}

.meter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.meter-ceo {
  background: #f44336;
}

.review {
  font-style: italic;
  margin-bottom: 20px;
}

/* Overwriting Materialize.css */

.card.small:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card .card-title {
  font-size: 22px;
}

.card.small .card-content {
  max-height: 80%;
}

.card.small {
  height: 150px;
}

.card.medium {
  height: 250px;
}

.card.large {
  height: auto;
}
