<!--
<header class="main-heading">
	<h1 class="title">DECODING THE INTERVIEW</h1>
  <h2 class="subtitle">Is mayonnaise an instrument?</h2>
</header>
-->

<!--
<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo">
			<img class="nav-logo" src="./public/img/kamal.png"/>
		</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#">About</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a href="#">About</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>
-->

<header class="section no-pad-bot" id="index-banner">
	<div class="container">
		<br><br>
		<h1 class="header center orange-text">Decoding The Interview</h1>
		<div class="row center">
			<h5 class="header col s12 light">fuk sk00l</h5>
		</div>
		<br><br>
	</div>
</header>

<section class="company-cards">
	<div class="row">
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card small">
				<div class="card-content">
					<span class="card-title grey-text text-darken-4">
						<i class="logo">
							<img src="./public/img/kamal.png"/>
						</i>
						<span>Company Name</span>
					</span>
					<div class="card-action">
						<a href="#">Overview</a>
						<a href="#">Glassdoor</a>
						<a href="#">Website</a>
					</div>
				</div>
			</div>
		</div>
  </div>
</section>
